version: '2'
volumes:
    node-red-data:
    nodered-logs:
services:
  node-red:
    build: ./node-red
    volumes:
      - 'node-red-data:/data'
      - 'nodered-logs:/logs'
    restart: always
    privileged: true
    network_mode: host
    labels:
      io.balena.features.kernel-modules : '1' 
      io.balena.features.supervisor-api: '1'
      io.balena.features.gpio: '1'
    cap_add:
      - SYS_RAWIO
    devices:
      - "/dev/snd:/dev/snd"
      - "/dev/mem:/dev/mem"
      - "/dev/gpiomem:/dev/gpiomem"
    ports:
      - 80:80